<div class="menu">
    <div class="inner-wrapper">
        <div class="logo">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Logo&w=200&h=100">
        </div>
        <div class="conditions-wrapper">
            <p class="conditions-title">I'm interested in:</p>
            <ul class="conditions">
                <li class="condition condition-1 current">
                    <a href="#" data-condition="1">Condition 1</a>
                </li>
                <li class="condition condition-2">
                    <a href="#" data-condition="2">Condition 2</a>
                </li>
                <li class="condition condition-3">
                    <a href="#" data-condition="3">Condition 3</a>
                </li>
                <li class="condition condition-4">
                    <a href="#" data-condition="4">Condition 4</a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="topics-wrapper"> 
            <p class="topics-title">Narrow Videos By Topic:</p>
            <ul class="topics">
                <li><span class="checkbox"></span><span class="topic">Diagnosis</span></li>
                <li><span class="checkbox"></span><span class="topic">Wellness</span></li>
                <li><span class="checkbox"></span><span class="topic">Relationships</span></li>
                <li><span class="checkbox"></span><span class="topic">Workplace</span></li>
            </ul>
        </div>
    </div>
</div>
